@import "../../node_modules/bootstrap/scss/bootstrap-reboot.scss";
@import "../../node_modules/bootstrap/scss/bootstrap-grid.scss";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./_variables";

body {
    padding-top: 56px;
}

.settings-head {
    padding: 3rem 1.5rem;
    text-align: center;
}

.settings-main {
    text-align: center;
}

footer.footer {
    background: $gray-300;
    text-align: center;
    font-size: small;
}
